@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    height:max-content;
    width: 100%;
    /* color: #007dbc;
    color: #5ae500;
    color: #10d3fb; */
    overflow-x: hidden;
    position: relative;
}
.header{
    width: 100%;
    height: 70px;
    box-shadow: 1px 1px 10px #007dbc21; 
    background-color: #fff;
    z-index: 1;
}
.header_Container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#007dbc ;
}
.header_info{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.h_info-time, .h_info-phone, .h_info-email{
    width: max-content;
    height: max-content;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.h_info-time svg, .h_info-phone svg, .h_info-email svg{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: #007dbc;
    color: white;
}
.h_info-email_link{
    text-decoration: none;
    color: #007dbc;
    transition: 0.5s ease-in-out;
}
.h_info-email_link:hover{
    color: #10d3fb;
}
.header_Socials{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 40px;
}
.header_Socials a{
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 50px;
    background-color: #007dbc;
    transition: 0.5s ease-in-out;
}
.header_Socials a:hover{
    color: #10d3fb;
}
@media screen and (max-width:450px) {
    .header{
        display: none;
    }
}
@media screen and (max-width:900px) {
    .header_info{
        justify-content: space-around;
        width: 85%;
    }
    .h_info-time, .h_info-phone, .h_info-email{
        font-size: 14px;
    }
    .header_Socials{
        width:15%;
    }
    .header_Socials{
        display: none;
    }
}
.nav_Bar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.nav_Bar-imageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.nav_Bar-imageContainer_logo{
width: 20%;
}
.nav_Bar-imageContainer_logo img{
    width: 30%;
    height: 100%;
}
.nav_Bar-imageContainer_details{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_Bar-imageContainer_details_text{
    display: flex;
    flex-direction: column;
}
.nav_Bar-imageContainer_details_text-header{
    display: flex;
    width: max-content;
    color: #007dbc;
    font-weight: 600;
    font-size: 18px;
    gap: 5px;
}
.nav_Bar-imageContainer_details_text-header svg{
    width: 20px;
    color: #10d3fb;
}
.nav_Bar-imageContainer_details_text-info{
    margin-left: 26px;
    color: rgba(128, 128, 128, 0.562);
    font-size: 15px;
}
.nav_Bar-navDetails{
    width: 100%;
    height: 60px ;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1111;
    background-color: #fff;
}
.nav_Bar-navDetails-directory{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_Bar-navDetails-directory a{
    text-decoration: none;
    color: #007dbcc0;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    transition: color 0.5s ease-in-out;
}
.nav_Bar-navDetails-directory a:is(:hover, :focus){
    color: #007dbc;
}
.nav_Bar-navDetails-directory a::before{
    content: '';
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 2px;
    transition: width 0.5s ease-in-out;
    background-color: #007dbc;
}
.nav_Bar-navDetails-directory a:is(:hover, :focus)::before{
    width: 100%;
}
.nav_Bar-navDetails-directory_aboutUsDropDown{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35%;
    align-items: center;
}
.showing_dropdown{
    width: 100%;
    height: max-content;
    padding: 10px;
    gap: 20px;
    background-color: white;
    flex-direction: column;
    position: absolute;
    top: 120%;
    opacity: 0;
    display: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.151);
    transition: 0.5s ease-in-out;
}
.nav_Bar-navDetails-directory_aboutUsDropDown:hover .showing_dropdown{
    opacity: 1;
    top: 110%;
    display: flex;
}
.nav_Bar-navDetails-searchAndContact{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    gap: 20px;
    align-items: center;
}
.nav_Bar-navDetails-searchAndContact svg{
    width: 20px;
    cursor: pointer;
}
.nav_Bar-navDetails-searchAndContact a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    background-color: #007dbc;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    border-radius: 30px;
    font-size: 13px;
}
.nav_Bar-mobileView{
    display: none;
}
.nav_Bar-navDetails-directory_mobileView{
    display: none;
}
.nav_Bar-navDetails-searchAndContact_SearchBarCover{
    width: 100%;
    height: 100dvh;
    position: fixed;
    z-index: -11111;
    top: 0;
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: center;
    opacity: 0;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.nav_Bar-navDetails-searchAndContact_SearchBarCover form{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.nav_Bar-navDetails-searchAndContact_SearchBarCover form input[type='search']{
    width: 40%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: white;
    font-size: 24px;
    outline: none;

}
.nav_Bar-navDetails-searchAndContact_SearchBarCover form input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.nav_Bar-navDetails-searchAndContact_SearchBarCover form input:focus{
    outline: none;
}
.nav_Bar-navDetails-searchAndContact_SearchBarCover form input::placeholder{
    color: white;
    font-weight: 500;
}
.searchBarFunctions{
    color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30%;
    cursor: pointer;
}
.searchBarFunctions:nth-child(1){
    right: 33%;
}
.showdetails{
    opacity: 1;
    z-index: 11111;
}
@media screen and (max-width:450px){
    .nav_Bar-imageContainer_details{
        display: none;
    }
    .nav_Bar-navDetails{
        display: none;
    }
    .nav_Bar{
        height: 80px;
        padding-left: 20px;
        flex-direction: row;
        position: sticky;
        top: -1px;
        z-index: 11111;
    }
    .nav_Bar-imageContainer{
        width: 70%;
    }
    .nav_Bar-imageContainer_logo img{
        width: 100%;
    }
    .nav_Bar-mobileView{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        gap: 10px;
        width: 30%;
        height: 100%;
    }
    .nav_Bar-mobileView svg{
        width: 20px;
    }
    .ii{
        color: rgba(128, 128, 128, 0.514);
        cursor: pointer;
    }
    .nav_Bar-navDetails-searchAndContact_SearchBarCover form input[type='search']{
        width: 90%;
    }
    .searchBarFunctions{
        color: white;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 5%;
        cursor: pointer;
    }
    .searchBarFunctions:nth-child(1){
        right: 15%;
    }
    .nav_Bar-navDetails-directory_mobileView{
        width: 100%;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.938);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        position: fixed;
        top: 0;
        transition: 0.5s ease-in-out;
        opacity: 0;
        z-index: -11;
    }
    .nav_Bar-navDetails-directory_mobileViewLink{
        color: white;
        text-decoration: none;
        width: 70%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.342);
        text-align: center;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .nav_Bar-navDetails-directory_mobileViewLink_dropdown{
        display: flex;
        flex-direction: column;
    }
    .dropDownNotShown{
        flex-direction: column;
        display: none;
        transition: 0.5s ease-in-out;
    }
    .dropDownNotShown a{
        color: white;
        text-decoration: underline;
        text-align: start;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .dropdownShown{
        display: flex;
    }
    .showdetails{
        opacity: 1;
        z-index: 11111;
    }
    #closeMenuBar{
        position: absolute;
        top: 50px;
        width: 50px;
        color: white;
    }
}
.main_Content{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_Content-details{
    height: 600px;
}

.carouselItem{
    background: rgb(0,125,188);
background: linear-gradient(270deg, rgba(0,125,188,1) 0%, rgba(87,199,255,1) 100%);
width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}
.carouselItemTwo{
    background-color: #007dbc;
    
    background: rgb(0,125,188);
background: linear-gradient(90deg, rgba(0,125,188,1) 0%, rgba(87,199,255,1) 100%);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}
.testing{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* position: relative; */
}
.carouselImg{
    width: 40%;
    object-fit: cover;
    height: 100%;
}
.carouselItem h1, .carouselItemTwo h1{
    font-size: 56px;
    font-weight: 900;
    letter-spacing: 5.2px;
    color: #fff;
}
.carouselItem h3, .carouselItemTwo h3{
    font-size: 36px;
    color: rgba(255, 255, 255, 0.623);
}
.carouselItem p, .carouselItemTwo p{
    color: #fff;
    width: 50%;
}
.carouselItem a, .carouselItemTwo a{
    text-decoration: none;
    color: #fff;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    height: 40px;
    border-radius: 20px;
    background-color: #10d3fb;
}
.missionAndVisionStatement{
    position: absolute;
    top: 105%;
    z-index: 111;
    width: 80%;
    height: max-content;
    border-radius: 4px;
    background-color: #007dbc;
    display: flex;
    margin-left: 10%;
}
.missonStatement, .visionStatement{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.missonStatement span:nth-child(1), .visionStatement span:nth-child(1){
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.missonStatement span:nth-child(2), .visionStatement span:nth-child(2){
    color: #ffffffb6;
    margin-bottom: 20px;
}
.missonStatement span:nth-child(3){
    color: #fff;
    font-weight: 400;
    font-size: 15px;
}
.visionStatement span:nth-child(3){
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff69;
}
.visionStatement span:nth-child(3) small{
    display: flex;
    gap: 5px;
}
.visionStatement span:nth-child(3) small:nth-child(2){
    font-weight: 400;
}
@media screen and (max-width:450px){
    .carouselItem{
        /* display: none; */
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #007dbc67;
        background: linear-gradient(90deg, #007dbc67 0%, rgba(87, 199, 255, 0.24) 100%);
    }
    .carouselItemTwo{
        /* display: none; */
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #007dbc67;
        background: linear-gradient(90deg, #007dbc67 0%, rgba(87, 199, 255, 0.24) 100%);
        align-items: flex-end;
        text-align: end;

    }
    .carouselImg{
        width: 100%;
    }
    .carouselItem h1, .carouselItemTwo h1{
        font-size: 36px;
    }
    .carouselItem h3, .carouselItemTwo h3{
        font-size: 24px;
    }
    .carouselItem p, .carouselItemTwo p{
        width: 90%;
    }
    .carouselItem a, .carouselItemTwo a{
        width: 40%;
    }
    .missionAndVisionStatement{
        height: max-content;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
    }
}
.main_ContentTwo{
    margin-top: 300px;
    display: flex;
    width: 100%;
    height: max-content;
}
.coreValuesdetails{
    width: 100%;
    height: max-content;
    flex-direction: column;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
}
.coreValuesdetails h1{
    font-size: 28px;
    font-weight: 600;
    color: rgb(78, 78, 78);
    margin-top: 80px;
    margin-bottom: 30px;
    position: relative;
}
.coreValuesdetails h1::before{
    content: '';
    width: 5%;
    height: 4px;
    border-radius: 8px;
    background-color: #007dbc;
    position: absolute;
    top: 100%;
}
.coreValuesdetails div{
    padding-left: 10px;
    margin-bottom: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.coreValuesdetails div img{
    padding: 8px;
    background-color: #5ce5002c;
    border-radius: 50%;
}
.coreValuesdetails div span{
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
.coreValuesdetails div span small{
    font-weight: 400;
    font-size: 15px;
    padding-right: 20px;
}
.appointment{
    width: 50%;
    height: 1134px;
    background-image: url('../images/medium-shot-pharmacist-helping-patient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -200px 0px;
}
.appointment_container{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.562);
}
.appointment_container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px;
}
.appointment_container form h1{
    font-size: 36px;
    margin-top: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom:5px;
}
.appointment_container form h3{
    font-size: 18px;
    font-weight: 300;
    color: #10d3fb;
    margin-bottom: 40px;
}
.appointment_container form div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.appointment_container form div input{
    height: 60px;
    width: 45%;
    outline: none;
    border: none;
    border-radius: 4px;
}
.appointment_container form div select{
    width: 45%;
    border-radius: 4px;
}
.appointmentSubmitBotton{
    margin-top: 50px;
    width: 100%;
    background-color: #10d3fb;
    height: 50px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
}
@media screen and (max-width:450px){
    .main_ContentTwo{
        margin-top: 600px;
        flex-direction: column;
    }
    .coreValuesdetails{
        width: 100%;
        padding-left: 10px;

    }
    .appointment{
        width: 100%;
        height: 1134px;
    }
    .appointment_container form {
        padding: 30px;
    }
    .appointment_container form h1{
        font-size: 25px;
    }
    .appointment_container form h3{
        font-size: 15px;
    }
    .appointment_container form div{
        flex-direction: column;
        gap: 20px;
    }
    .appointment_container form div input{
        width: 100%;
    }
    .appointment_container form div select{
        width: 100%;
    }
    .appointmentSubmitBotton{
        margin-top: 50px;
        width: 100%;
        background-color: #10d3fb;
        height: 50px;
        border-radius: 4px;
        color: #fff;
        font-weight: 500;
    }
}
.main_ContentThree{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_product{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-self: center;
    justify-self: center;
}
.main_product h1{
    font-size: 36px;
    font-weight: 600;
    color: #036ea3;
    position: relative;
}
.main_product h1::before{
    content: '';
    width: 5%;
    background: rgb(78, 78, 78);
    height: 4px;
    border-radius: 8px;
    position: absolute;
    top: 100%;
}
.main_product span{
    display: flex;
    align-self: flex-end;
    gap: 5px;
}
.main_product span a{
    text-decoration: none;
    color: #036ea3;
    transition: color 0.5s ease-in-out;
}
.main_product span a:hover{
    color: #10d3fb;
}
.main_product span svg{
    color: #036ea3;
    transition:0.5s ease-in-out;
}
.main_product span:hover svg{
    transform: translateX(5px);
}
.main_product-cards{
    width: 95%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    row-gap: 20px;
}
.product-cards{
    height: 450px;
    width: 30%;
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.377);
    overflow: hidden;
    border-radius: 8px;
}
.product-cardImage{
    height: 80%;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: cover;
    transition: 0.5s ease-in-out;

}
.product_cardDetails{
    height: 20%;
    width: 100%;
    color: #036ea3;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-cards:hover .product-cardImage{
    /* width: 420px; */
    object-fit: cover;
}
@media screen and (max-width:450px){
    .main_product-cards{
        flex-direction: column;
        align-items: center;
    }
    .product-cards{
        width: 98%;
        margin-bottom: 40px;
    }
}
.main_Contentfour{
    width: 95%;
    height: max-content;
    display: flex;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.404);
    margin-top: 80px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    margin-bottom: 80px;
}
.aboutUs_image{
    width: 50%;
    height: 700px;
}
.aboutUs_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: cover; */
}
.aboutUs_details{
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 80px 50px 80px 50px;
}
.aboutUs_details .bi-quote{
    font-size: 72px;
    color: #007dbc;
}
.aboutUs_headingAndDetails{
    display: flex;
    flex-direction: column;
    font-size: 36px;
}
#aboutUs_headingAndDetailsHone{
    font-size: 36px;
    font-weight: 500;
    margin-left: 5px;
}
#aboutUs_headingAndDetailsSpan{
    font-size: 18px;
    margin-left: 5px;
    color: #4e4e6f;
    line-height: 2.5rem;
}
.subscribe{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 200px;
    background-color: #007dbc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
}
.subscribe_container{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#subscribe_header{
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    text-align: start;
    padding-left: 20px;
    width: 100%;
}
.subscribe_paragraph{
    color: #d1cdcd;
    padding-left: 20px;
}
.subscribe_form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.subscribe_form form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.subscribe_form form input[type=text]{
    width: 45%;
    height: 50px;
    border: none;
    outline: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 5px;
}
.subscribe_form form input[type=submit]{
    width: 20%;
    height: 50px;
    border: none;
    outline: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    font-weight: 700;
    background-color: #5ae500;
    cursor: pointer;
}
@media screen and (max-width:450px){
    .main_Contentfour{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .aboutUs_image{
        display: none;
    }
    .aboutUs_details{
        width: 100%;
        padding: 0px 5px 0px 5px;
        height: 800px;
    }
    .aboutUs_details .bi-quote{
        font-size: 72px;
    }
    .subscribe{
        position: relative;
        top: 0;
        flex-direction: column;
        height: 300px;
    }
    #subscribe_header{
        font-size: 22px;
        margin-top: 20px;
    }
    .subscribe_form form input[type=text]{
        width: 60%;
    }
    .subscribe_form form input[type=submit]{
        width: 30%;
    }
}
.main_ContentFive{
    width: 90%;
    height: max-content;
    margin-top: 50px;
    padding: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
}
#FAQ{
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}
.main_ContentFive details{
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.075);
}

.main_ContentFive details>summary {
    list-style-type: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;

}
  
.main_ContentFive details>summary::-webkit-details-marker {
    display: none;
  }
.main_ContentFive details>summary::before {
    content: '+ ';
    height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    margin-right: 20px;
    background-color: rgba(128, 128, 128, 0.089);
    border-radius: 4px;
    transition: 0.1s ease-in-out;

}
.main_ContentFive details>summary span{
    font-size: 15px;
    display: flex;
    width: 70%;

}
.main_ContentFive details[open]>summary::before {
    content: '- ';
    margin-right: 20px;
    height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    border: 1px solid  rgba(128, 128, 128, 0.089);
    background-color:white;
    border-radius: 4px;
}
  
.main_ContentFive details[open]>summary {
    margin-bottom: 1.5rem;
}
.main_ContentFive details p{
    margin-bottom: 20px;
    margin-left: 53px;
}
@media screen and (max-width:450px){
    .main_ContentFive{
        width: 100%;
        margin-top: 10px;
        padding: 10px;
    }
    #FAQ{
        font-size: 24px;
    }
    
    .main_ContentFive details>summary {
        display: flex;
        padding: 5px;
        width: 100%;
    }
    .main_ContentFive details>summary span{
        font-size: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .main_ContentFive details>summary::-webkit-details-marker {
        display: none;
      }
    .main_ContentFive details>summary::before {
        content: '+ ';
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        background-color: rgba(128, 128, 128, 0.089);
        border-radius: 4px;
        transition: 0.1s ease-in-out;
    
    }
      
    .main_ContentFive details[open]>summary::before {
        content: '- ';
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        border: 1px solid  rgba(128, 128, 128, 0.089);
        background-color:white;
        border-radius: 4px;
    }
      
}
.main_ContentSix{
    display: flex;
    width: 95%;
    height: max-content;
    margin-top: 100px;
    gap: 30px;
}
.ReadNews{
    width: 30%;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.readNewsContainer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#readNewsHeader{
    color: #007dbc;
    font-size: 36px;
    font-weight: 600;
}
.readNewsSubheader{
    justify-self: flex-start;
    align-self: flex-end;
}
.readNewsSubheader a{
    text-decoration: underline;
    color: #10d3fb;
}
.readNewsContainerDetails{
    background-color: #007dbc;
    margin-top: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    border-radius: 4px;
    justify-content: center;
}
#readNewsContainerDetailsHeader{
    color: white;
}
.readNewsContainerDetailsSubHeader{
    color: #e2dfdf;
}
.newsDetailsContainer{
    display: flex;
    margin-top: 80px;
    width: 30%;
    height: max-content;
    flex-direction: column;
}
.newsdetails{
    display: flex;
    height: 100px;
    margin-bottom: 40px;
    border-radius: 4px;
    gap: 10px;
}
.newsImg{
    width: 30%;
    height: 100%;
    border-radius: 4px;
}
.newsImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.newsInfo{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    cursor: pointer;
    justify-content: space-between;
    padding: 5px;
    transition: 0.3s ease-in-out;
    color: #007dbc;
}
.newsInfo small{
    font-weight: 300;
}
.newsInfo:hover{
    color: #10d3fb;
}
.quicklink{
    width: 30%;
    display: flex;
    flex-direction: column;
}
#quicklLinkHeader{
    font-size: 36px;
    font-weight: 600;
    color: #007dbc;
    position: relative;
    margin-bottom: 30px;
}
#quicklLinkHeader::before{
    content: '';
    width: 28%;
    position: absolute;
    top: 90%;
    height: 4px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.767);
}
.quicklinkSpan{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.377);
    height: 40px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #007dbc;
    display: flex;
    align-items: center;
}
.quicklinkSpan a{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
@media screen and (max-width:450px){
    .main_ContentSix{
        flex-direction: column;
    }
    .ReadNews{
        width: 100%;
    }
    .newsDetailsContainer{
        margin-top: 10px;
        width: 100%;
    }
    .quicklink{
        width: 100%;
    }
}
.whyUs{
    margin-top: 380px;
    width: 70%;
    height: max-content;
    flex-direction: column;
    display: flex;
    margin-bottom: 0px;
    align-items: center;
}
#whyUs_h{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
#whyUs_h span{
    color: #007dbc;
}
.whyUsContentContainer{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 100%;
    height: max-content;
    justify-content: space-between;
}
.whyUsContentContainer div{
    width: 40%;
    height: max-content;
    min-height: 320px;
    border-radius: 4px;
    background-color: #007dbc38;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.whyUsContentContainer div img{
    width: 20%;
}
.whyUsContentContainer div h1{
    font-size: 24px;
    font-weight: 600;
    color: black;
}
.whyUsContentContainer div h4{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.753);
}
.whyUsContentContainer div p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 0.616);
}
@media screen and (max-width:450px){
    .whyUs{
        margin-top: 600px;
        width: 90%;
    }
    #whyUs_h{
        font-size: 20px;
    }
    .whyUsContentContainer{
        flex-direction: column;
        gap: 10px;
    }
    .whyUsContentContainer div{
        width: 100%;
    }
}
.footer_Details{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}
.footer-Contact_info{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}
.footer-Contact_info div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.082);
}
.footer-Contact_info-location{
    background-image: url('../images/close-up-veterinarian-doing-some-tests.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.footer-Contact_info-location_cover{
    width: 100%;
    height: 100%;
    background-color: #007dbcc0;
    position: absolute;
    top: 0;
}
.footer-Contact_info-contact, .footer-Contact_info-telephone{
    background-color: #007dbc;
}
.footer-Contact_info div span{
    color: white;
    font-size: 24px;
    font-weight: 600;
    z-index: 1;
}
.footer-Contact_info div p{
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.footer-Contact_info div p span{
    color: rgba(255, 255, 255, 0.507);
    font-size: 18px;
}
.footer-Contact_info div p small{
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.footer-info{
    width: 100%;
    background-color: #06175d;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-info div{
    height: 85%;
    width: 23%;
    display: flex;
    flex-direction: column;
}
.footer-info-addressandContactDetails img{
    width: 40%;
    height: 28%;
    margin-bottom: 20px;
}
.footer-info-addressandContactDetails address{
    width: 90%;
    line-height: 2.1rem;
    color: white;
    margin-bottom: 20px;
}
.footer-info-addressandContactDetails p{
    color: white;
    font-size: 13px;
    display: flex;
    gap:10px;
    margin-bottom: 20px;
    font-weight: 400;
    width: 100%;
}
/* .footer-info-aboutUs, .footer-info-ourServices{
    
} */
#footer-info-aboutUs-header, #footer-info-ourServices-header, #footer-info-hospitalHours-header{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
    text-transform: capitalize;
}
.footer-info-aboutUs a, .footer-info-ourServices a{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}
.footer-info-aboutUs a:hover, .footer-info-ourServices a:hover{
    color: white;
    text-decoration: underline;

}
.footer-info-hospitalHours p{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #007dbc23;
    padding-bottom: 5px;
    height: max-content;
    margin-bottom: 20px;
}
.footer-info-hospitalHours p span{
    display: flex;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
}

.footer-info-hospitalHours p span small:nth-child(1){
    font-size: 16px;
    width: 40%;
}
.footer-info-hospitalHours p span small{
    font-size: 13px;
    /* font-weight: 400; */
}
.footer-info-emergencyHour{
    width: 80%;
    height: 50px;
    background-color: #fff;
    box-shadow: 1px 1px 10px #007dbc27;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-info-emergencyHour a{
    color: #007dbc;
    font-weight: 600;
    text-decoration: none;
}
.copyright{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.copyright_socials{
    display: flex;
    gap: 10px;
}
.copyright_socials a{
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 50px;
    background-color: #007dbc;
}
.copyright_socials a svg{
    color: white;
}
.copyright span{
    color: rgba(128, 128, 128, 0.623);
    text-transform: capitalize;
}
@media screen and (max-width:450px){
    .footer_Details{
        margin-top: 50px;
    }
    .footer-Contact_info{
        flex-direction: column;
        height: 600px;
    }
    .footer-Contact_info div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        border-left: none;
        border-bottom:1px solid rgba(0, 0, 0, 0.082) ;
    }
    .footer-info{
        height:1100px;
        flex-direction: column;
    }
    .footer-info div{
        width: 100%;
    }
    .footer-info-addressandContactDetails img{
        width: 20%;
        height: 25%;
    }
    .footer-info-hospitalHours p span{
        width: 100%;
    }
    .copyright{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        font-size: 15px;
    }
}

.mywork{
    z-index: 111111;
}
#dropdownNavbarLink:hover #dropdownNavbar{
    display: block;
    z-index: 11111111111111111111111111111111111111111111111111111111111111111;
}
@media (min-width:600px) and (max-width:884px) {
    .header{
        display: none;
    }
    .nav_Bar{
        height: 80px;
    }
    .carouselItem h1, .carouselItemTwo h1{
        font-size: 36px;
    }
    .carouselItem h3, .carouselItemTwo h3{
        font-size: 28px;
    }
    .carouselItem p, .carouselItemTwo p{
        width: 70%;
    }
    .carouselItem a, .carouselItemTwo a{
        width: 30%;
    }
    .whyUs{
        width: 90%;
    }
    .whyUsContentContainer div{
        width: 45%;
    }
    .main_product-cards{
        width: 95%;
    }
    .product-cards{
        width: 45%;
    }
    .aboutUs_image{
        display: none;
    }
    .aboutUs_details{
        width: 100%;
        padding: 10px;

    }
    .footer-info{
        height: 800px;
    }
    .footer-Contact_info-contact p small i{
        display: none;
    }
    .footer-info div{
        height: max-content;
        width: 40%;
    }
}